examples/data/prediction.las filter=lfs diff=lfs merge=lfs -text
examples/data/reference.las filter=lfs diff=lfs merge=lfs -text
resources/model/model_40_median_uab.pth filter=lfs diff=lfs merge=lfs -text
