version https://git-lfs.github.com/spec/v1
oid sha256:dcbf9ffbcaf8ad57d2dc084e5d78d0d4d170c5199c2588a0aa5b324f02a51be6
size 353
resources/model/model_40_median_uab.pth filter=lfs diff=lfs merge=lfs -text
